/* You can add global styles to this file, and also import other style files */
@import 'styles/modules/reset/reset';
@import '@angular/cdk/overlay-prebuilt.css';
@import 'styles/modules/reset/mat-custom';
@import 'styles/modules/reset/mat-form-field';
@import 'styles/modules/reset/mat-datepicker';
@import 'styles/modules/reset/mat-table';
@import 'styles/libs';
@import 'styles/libs-customize';
@import 'styles/shared';

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}

mark {
  color: inherit;
  background-color: rgba(47, 120, 203, 0.1);
}
