
$col-white: #fff;
$col-black: #000;
$col-primary: #005AA7;
$col-warn: #E66054;
$col-accent: #F0BB43;
$col-success: #36BD75;
$col-border: #e6e6e6;
$col-bg-grey: #f5f5f5;

$col-placeholder: rgba($col-black, .38);
$col-text-grey: rgba($col-black, .54);

// !!!
$grey: #f2f2f2;
$warn: #f44336;
